@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
@import './variables';
@import './loader';
@import './stocks';
@import './marquee';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $bgColor
}

b {
    // font-weight: bold;
}

.main-container {
    padding: 2em 2.5em;
    min-height: 100vh;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

.logo {
    font-size: 3rem;
    margin-right: 0.5em;

    span {
        font-weight: 100;
    }

}

h2 {
    font-size: 1.5rem;
}

.d-none {
    display: none !important;
}

.toolbar {
    display: flex;
    position: relative;
    flex-grow: 1;
}



button {
    border: none;
    background-color: white;

    height: $btnSize;
    padding: 1em;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition-duration: 300ms;

    img {
        width: 1.3em;
        height: 1.3em;
        transition-duration: 300ms;
    }

    cursor: pointer;
    transition-duration: 200ms;
    filter: $shadow;

    border-radius: $radius;

    &.highlighted {
        border: $borderDarker;
        background-color: white;
    }

    &:focus {
        outline: 0;
    }

    &.circle {
        overflow: hidden;

        width: $btnSize;

        &.small {
            width: $btnSize*0.7;
            height: $btnSize*0.7;
            padding: 0.7em;
            margin: 0 0.5em
        }
    }

    &:active {
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1));
    }

}




.search-bar {

    transition-duration: 300ms;

    display: flex;
    flex-direction: column;

    position: absolute;
    width: 100%;
    max-width: 30rem;
    max-height: $btnSize;
    border-radius: $radius;
    background-color: white;

    filter: $shadow;

    form {
        padding: 0 0.2em;
    }


    button {
        font-size: 0.8em;
        background-color: transparent;
        filter: none;

        &.small {
            background-color: white;
            filter: $shadowDark;
            border: $border;
        }
    }

    input {
        border: none;
        min-width: 1px;
        width: 100%;
        outline: none;
    }

    #search-form {
        display: flex;
    }

    #search-compare,
    #search-results {
        display: none;
    }


    &.minimized {
        max-width: $btnSize;
        grid-template-columns: $btnSize;
        width: auto;
        min-width: auto;

        form {
            padding: 0;
        }

        #search-close,
        #search,
        #search-results,
        #search-compare {
            display: none;
        }
    }

    &.table {
        z-index: 2;
        grid-template-columns: $btnSize auto $btnSize;
        grid-template-rows: $lineHeight auto;
        min-height: 8em;
        max-height: 100vh;
        transition-duration: 200ms;

        #search-compare,
        #search-close,
        #search,
        #search-results {
            display: flex;
        }

    }


}

#search-results>ul {
    width: 100%;
    border-top: $border;
    padding: 1em 2em;

    li {
        border-bottom: $border;

        &:last-child {
            border-bottom: none;
        }
    }

    li>a,
    li>div {
        display: flex;
        justify-content: space-between;

        padding: 0.8em 0;



        >div {
            div {
                padding-left: 0.5em;
            }

            display: flex;
            align-items: center;
        }

        img {
            max-height: 1.5em;
            object-fit: cover;
        }

        .image {
            overflow: hidden;
            height: 1.5em;
            width: 1.5em;
            border-radius: 50%;
            padding-left: 0;
        }
    }
}


.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.good {
    color: $good;
}

.bad {
    color: $bad;
}

.highlighted {
    background-color: $bgColor;
}

.buttons {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#search-compare {
    margin: 0 0.5em 0.5em 0.5em;
    max-height: 0em;
    min-height: 0em;
    overflow: hidden;
    transition-duration: 300ms;

    &.show {
        min-height: $btnSize*0.8;
        max-height: 15em;
    }

    .buttons {
        button {
            margin: 0.5em;
            font-size: 0.6em;
            filter: $shadowDark;
        }
    }
}

.rotate45 {
    transform: rotate(45deg);
}

.footer {
    filter: $shadow;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    height: 3rem;
    background-color: white;
}