@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.loader img {
  -webkit-animation: rotateloader 3s cubic-bezier(0, 0.5, 0.6, 1) infinite;
          animation: rotateloader 3s cubic-bezier(0, 0.5, 0.6, 1) infinite;
}

@-webkit-keyframes rotateloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.monitor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 605px))[2];
      grid-template-columns: repeat(2, minmax(300px, 605px));
  padding: 2em 0;
  gap: 2em;
}

.card-container {
  max-width: 605px;
}

.card {
  z-index: 1;
  padding: 1em 2em 2em 2em;
  border-radius: 2em;
  background-color: white;
  -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
  position: relative;
}

.card .graph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 10rem;
}

.card header,
.card footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card header :first-child > div,
.card footer :first-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.5em;
}

.card header :first-child > div > div,
.card footer :first-child > div > div {
  padding-right: 0.5em;
}

.card header :last-child,
.card footer :last-child {
  max-height: 2.5em;
}

.card .extra-toggle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.card .extra-toggle.open {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(180deg);
          transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

.extra-wrapper {
  overflow: hidden;
  -webkit-transform: translateY(-2em);
          transform: translateY(-2em);
  opacity: 0.99;
  max-height: 0;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.extra-wrapper.open {
  max-height: 100%;
}

.extra {
  line-height: 1.25em;
  background-color: #1E1E1E;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  color: white;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  padding: 6em 2em 2em 2em;
  border-radius: 2em;
  z-index: -3;
  visibility: hidden;
}

.extra.hide-fast {
  visibility: hidden;
  -webkit-transition-duration: 0;
          transition-duration: 0;
}

.extra.open {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  visibility: visible;
  -webkit-transform: translateY(-3em);
          transform: translateY(-3em);
}

.extra .key {
  color: #9CDCFE;
}

.extra .value {
  color: #CE9178;
}

.extra .value a {
  color: #CE9178;
}

.extra .comment {
  color: #6A8A35;
  padding-left: 1em;
}

#chartjs-tooltip {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  z-index: 2;
  background-color: white;
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
}

#chartjs-tooltip table div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

#chartjs-tooltip table div span:first-child {
  padding-right: 0.5em;
}

#chartjs-tooltip table > :first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.graph-container {
  position: relative;
  margin: auto;
  width: 99%;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 10rem;
}

.marquee-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 3rem;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
}

.marquee {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  font-size: 2.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: ticker 60s linear infinite;
          animation: ticker 60s linear infinite;
}

.marquee a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0.6em;
}

.marquee a span {
  padding-left: 0.1em;
}

.marquee:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #EDEDED;
}

.main-container {
  padding: 2em 2.5em;
  min-height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 3rem;
  margin-right: 0.5em;
}

.logo span {
  font-weight: 100;
}

h2 {
  font-size: 1.5rem;
}

.d-none {
  display: none !important;
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

button {
  border: none;
  background-color: white;
  height: 4em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
  border-radius: 2em;
}

button img {
  width: 1.3em;
  height: 1.3em;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

button.highlighted {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

button:focus {
  outline: 0;
}

button.circle {
  overflow: hidden;
  width: 4em;
}

button.circle.small {
  width: 2.8em;
  height: 2.8em;
  padding: 0.7em;
  margin: 0 0.5em;
}

button:active {
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1));
}

.search-bar {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  max-width: 30rem;
  max-height: 4em;
  border-radius: 2em;
  background-color: white;
  -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
}

.search-bar form {
  padding: 0 0.2em;
}

.search-bar button {
  font-size: 0.8em;
  background-color: transparent;
  -webkit-filter: none;
          filter: none;
}

.search-bar button.small {
  background-color: white;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.search-bar input {
  border: none;
  min-width: 1px;
  width: 100%;
  outline: none;
}

.search-bar #search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-bar #search-compare,
.search-bar #search-results {
  display: none;
}

.search-bar.minimized {
  max-width: 4em;
  -ms-grid-columns: 4em;
      grid-template-columns: 4em;
  width: auto;
  min-width: auto;
}

.search-bar.minimized form {
  padding: 0;
}

.search-bar.minimized #search-close,
.search-bar.minimized #search,
.search-bar.minimized #search-results,
.search-bar.minimized #search-compare {
  display: none;
}

.search-bar.table {
  z-index: 2;
  -ms-grid-columns: 4em auto 4em;
      grid-template-columns: 4em auto 4em;
  -ms-grid-rows: 2em auto;
      grid-template-rows: 2em auto;
  min-height: 8em;
  max-height: 100vh;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.search-bar.table #search-compare,
.search-bar.table #search-close,
.search-bar.table #search,
.search-bar.table #search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search-results > ul {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
}

#search-results > ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#search-results > ul li:last-child {
  border-bottom: none;
}

#search-results > ul li > a,
#search-results > ul li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8em 0;
}

#search-results > ul li > a > div,
#search-results > ul li > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-results > ul li > a > div div,
#search-results > ul li > div > div div {
  padding-left: 0.5em;
}

#search-results > ul li > a img,
#search-results > ul li > div img {
  max-height: 1.5em;
  -o-object-fit: cover;
     object-fit: cover;
}

#search-results > ul li > a .image,
#search-results > ul li > div .image {
  overflow: hidden;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  padding-left: 0;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.good {
  color: #008800;
}

.bad {
  color: #d80007;
}

.highlighted {
  background-color: #EDEDED;
}

.buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#search-compare {
  margin: 0 0.5em 0.5em 0.5em;
  max-height: 0em;
  min-height: 0em;
  overflow: hidden;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

#search-compare.show {
  min-height: 3.2em;
  max-height: 15em;
}

#search-compare .buttons button {
  margin: 0.5em;
  font-size: 0.6em;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
}

.rotate45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  padding-bottom: 5rem;
  text-align: center;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */